/* 















*/

body {
  background-color: #fff;
}
h1 {
  text-align: center;
  padding-top: 15px;
  font-size: 2em;
}

h4 {
  text-align: center;
}
/* * {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
} */
html {
  font-size: 62.5%;
}

section {
  padding: 0 7%;
  padding-top: 12em;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #fff;
  width: 100%;
}

header .heading {
  font-size: 3em;
  color: #666;
  padding: 1em;
  text-align: center;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: #262bdb;
  padding: 1em;
}

header .navbar ul li {
  margin: 0 1.5em;
}

header .navbar ul li a {
  font-size: 2em;
  color: #fff;
}

header .navbar ul li a:hover {
  color: #444;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
flex-direction: column;
  flex-wrap: wrap;
}
.home .content {
  /* flex: 1 1 40em; */
}

.home .content h1 {
  font-size: 5em;
  color: #444;
}
.footer {
  background: #333;
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box p {
  font-size: 1.4em;
  color: #eee;
  padding: 1em 0;
}

.footer .box-container .box a {
  font-size: 1.8em;
  color: #eee;
  padding: 0.4em 0;
  display: block;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
}

.footer .box-container .box:nth-child(2) {
  text-align: center;
} 
.serviceus_wrapper{
  width: 200px;
  height: 200px;
  background-color: red;
  margin-bottom: 10%;
  
}
.content{
 
}
